<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>post detail</title>
</head>
<body>
<div>
<!--  게시글 영역  -->
    <table>
        <tr>
            <th style="text-align:left;">title</th>
            <td th:text="${post.title}"></td>
        </tr>
        <tr>
            <th style="text-align:left;">author</th>
            <td th:text="${post.author}"></td>
        </tr>
        <tr>
            <th style="text-align:left;">date</th>
<!--        dates.format()은 LocalDateTime 타입을 인식하지 못하므로 temporals.format()을 사용-->
            <td th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <tr>
            <th style="text-align:left;">content</th>
            <td th:text="${post.content}"></td>
        </tr>
    </table>
<!-- 댓글 영역 -->
    <h4>comment</h4>
    <ul>
        <li th:each="comment : ${post.comments}">
            <p th:text="${comment.author} + ': ' + ${comment.content}"></p>
            <p th:text="${#temporals.format(comment.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></p>
        </li>
    </ul>
    <ul>
        <li th:each="post : ${postList}">
            <a th:href="@{/post/{postId}(postId=${post.postId})}" th:text="${post.title}"></a>
        </li>
    </ul>
    <!--댓글 작성-->
    <form th:action="@{/posts/{postId}/comments(postId=${post.postId})}" method="POST">
        <input type="text" name="author" placeholder="name" required></br>
        <textarea name="content" placeholder="write comment" required></textarea></br>
        <button type="submit">write</button>
    </form>
</div>

</body>
</html>